@charset "UTF-8";

// 変数
@import "../setting/config";

// レスポンシブ
@import "../mixin/responsive";

// スライド
@import "../effect/slick";


// banner--------------------------------------------------//
.banner {
    padding-top: 24px;
    z-index: 100;
    background-color: #fff;

    @include tb {
        display: none;
    }

    .banner-image {
        margin: 0 8px;
    }
}

.banner-list {
    display: none;

    .banner-image {
        margin: 0 20px;
    }

    @include tb {
        display: block;
        padding-top: 24px;
        display: flex;
        justify-content: flex-end;
        margin: 0 auto;
        background-color: #fff;
        margin: 0 calc(50% - 50vw);
    }
}

// news--------------------------------------------------//
.top-news {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fff;
    margin: 0 calc(50% - 50vw);

    @include tb {
        // padding-top: 120px;
        padding-top: 40px;
        padding-bottom: 80px;
    }

    .news-contain {
        @include tb {
            display: flex;
            justify-content: space-between;
        }
    }

    h2 {
        font-size: $title-sp;
        padding-bottom: 12px;

        @include tb {
            padding-top: 32px;
        }
    }

    ul {
        margin-bottom: 48px;

        @include tb {
            width: 75%;
        }

        a {
            display: block;
            padding: 24px 0;
            border-bottom: dashed 1px #ccc;

            @include tb {
                padding: 40px 0;
            }

            @include tb {
                &:hover {
                    transition: all 0.1s;
                    opacity: 0.5;
                }
            }

        }

        li {
            @include tb {
                display: flex;
            }

            .daytime {
                margin-bottom: 8px;
                font-weight: bold;

                @include tb {
                    margin-bottom: 0;
                }
            }

            .news-info {
                @include tb {
                    margin-left: 40px;
                }
            }
        }
    }

    span {
        display: flex;
        flex-direction: row-reverse;
        max-width: 128px;
        margin-left: auto;

        a {
            padding: 24px 12px;
            display: inline-block;
            // text-align: right;
            transition: all 0.1s;

            @include tb {
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}

// movie--------------------------------------------------//
.movie {
    padding-top: 56px;
    padding-bottom: 40px;

    @include tb {
        padding-top: 80px;
        padding-bottom: 40px;
        @include width-pc;
    }

    h2 {
        font-size: $title-sp;
        margin-left: 5%;
        // color: #fff;

        @include tb {
            margin-left: 0;
            padding-bottom: 12px;
        }
    }

    .movie-contain {
        @include tb {
            display: flex;
            margin: 0 calc(50% - 50vw);
        }

        .sp-list {
            @include tb {
                display: none;
            }
        }

        .pc-list {
            display: block;
            z-index: 100;
        }
    }

    .movie-content {
        display: block;
        margin-bottom: 75px;
        height: 180px;

        @include sb {
            height: 280px;
        }

        @include tb {
            margin: 0 16px 0px;
            height: 350px;
        }

        .movie-title {
            // margin-left: 26px;
            width: 90%;
            margin: 0 auto;
            padding-top: 56px;
            // font-weight: bold;
            // color: #fff;
            // font-size: 1.6rem;

            @include sb {
                padding-top: 110px;
            }

            @include tb {
                font-weight: normal;
                padding-top: 16px;
                color: #fff;
                text-align: center;
                height: 40vh;
                padding-top: 24vh;
                margin-top: -23vh;
            }
        }
    }

    span {
        display: flex;
        flex-direction: row-reverse;
        max-width: 128px;
        margin-left: auto;
        margin-right: 26px;

        a {
            padding: 24px 12px;
            display: inline-block;
            transition: all 0.1s;
            margin-top: -24px;

            @include tb {
                margin-top: 24px;

                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}

.movie-content {
    transition-duration: 0.5s;

    @include tb {
        &:hover {
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
            transform: translateY(-10px);
            transition-duration: 0.5s;
        }
    }
}


//再生ボタン--------------------------------------------------//
.play-wrapper {
    text-align: center;
    padding-top: 50px;

    @include sb {
        padding-top: 100px;
    }

    @include tb {
        padding-top: 120px;
    }

    .play-btn {
        padding: 23px 23px;
        width: 72px;
        height: 72px;
        -webkit-transition: all .3s 0s ease;
        transition: all .3s 0s ease;

        display: inline-block;
        border: 1px solid #fff;
        border-radius: 50%;

        span {
            display: block;
            border: 12px solid transparent;
            border-left: 20px solid currentColor;
            color: #fff;
            margin-left: 4px;
        }
    }
}

//-------------------------------------------------//


/* 背景固定 */
//--------------------------------------------------//
.bg-fix-img {
    position: relative;
}

.bg-fix-img::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -200;
    width: 100%;
    height: 100vh;
    background: url(../../img/bg-top-page-5.jpg) center center / cover no-repeat;
    filter: blur(2px)brightness(110%);

    @include tb {
        width: 55%;
    }
}

.bg-fix-img::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -4px;
    left: 0;
    background: #fff;
    z-index: -100;
    width: 100%;
    height: 280px;

    @include tb {
        display: none;
    }
}

// live--------------------------------------------------//
.live {
    padding-top: 40px;
    padding-bottom: 40px;
    //background-color: #F0F8FF;
    background-color: rgb(252 251 242);

    @include tb {
        padding-top: 80px;
        padding-bottom: 120px;
        background: #fff;
    }

    .live-contain {

        @include tb {
            display: flex;
            justify-content: space-between;
            @include width-pc;
        }

        h2 {
            font-size: $title-sp;
            padding-bottom: 12px;
        }

        //サファリ
        _:lang(x)+_:-webkit-full-screen-document,
        h2 {
            padding-bottom: 0px;
        }

        ul {
            @include tb {
                width: 75%;
            }

            li {
                padding: 20px 0;
                border-bottom: dashed 1px #ccc;

                @include tb {
                    &:hover {
                        transition: all 0.1s;
                        opacity: 0.8;
                    }
                }

                .live-date {
                    font-weight: bold;
                    margin-bottom: 8px;

                    @include tb {
                        font-size: 1.8rem;
                    }
                }

                .live-content {
                    display: flex;

                    .live-image {
                        // padding-top: 80px;
                        padding-top: 12vw;
                        flex-basis: 26vw;
                        padding-top: 16vw;

                        @include tb {
                            width: 230px;
                            padding-top: 120px;
                        }
                    }

                    .live-text {
                        // margin-top: -8px;
                        flex-basis: 60vw;
                        margin-left: 16px;
                        line-height: 1.6;

                        @include sb {
                            margin-left: 24px;
                        }

                        @include tb {
                            margin-left: 32px;
                        }

                        h3 {
                            margin-bottom: 8px;

                            @include sb {
                                font-size: 2rem;
                            }

                            @include tb {
                                font-size: 1.8rem;
                                margin-bottom: 8px;
                            }
                        }

                        .live-place {
                            font-size: 1.2rem;
                            letter-spacing: .1em;
                            margin-bottom: 8px;

                            @include sb {
                                font-size: 1.6rem;
                            }

                            @include tb {
                                font-size: 1.4rem;
                            }
                        }

                        .live-time {
                            font-size: 1.2rem;
                            letter-spacing: .1em;
                        }
                    }
                }
            }
        }
    }

    .no-live-message {
        margin: 40px 0;
    }
}

//page-live
.page-id-78 {
    h2 {
        padding-top: 40px;
    }
}

// blog--------------------------------------------------//
.blog-wrapper {
    position: relative;
    bottom: -4px;
    padding-top: 20px;
    padding-bottom: 64px;
    //background: #F0F8FF;
    background-color: rgb(252 251 242);
    margin-top: -8px;

    @include tb {
        background: none;
        padding-top: 80px;
        padding-bottom: 120px;
        @include width-pc;
    }

    h2 {
        font-size: $title-sp;
        // padding-bottom: 8px;
        padding-bottom: 28px;

        margin-left: 5%;

        @include tb {
            padding-bottom: 24px;
            margin-left: 0;
        }
    }

    // //サファリ
    // _:lang(x)+_:-webkit-full-screen-document,
    // h2 {
    //     padding-bottom: 0px;
    // }

    .blog-list {
        display: none;

        @include tb {
            display: block;
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;
        }

        li {
            @include tb {
                width: 31%;
                background-color: #fff;
                box-shadow: 0 0 10px #ccc;
                margin-bottom: 20px;
                padding: 12px;

                &:hover {
                    transition: all 0.1s;
                    opacity: 0.8;
                }
            }

            .blog-text {
                padding-top: 8px;
                span {
                    text-align: left;
                    font-size: 1rem;
                }

                h3 {
                    // font-weight: bold;
                    margin-bottom: 8px;
                    line-height: 1.6;
                }

                p {
                    font-size: 1.1rem;
                }
            }
        }
    }

    .blog-slider {
        z-index: 100;
        margin-top: -20px;

        @include tb {
            display: none;
        }

        li {
            background-color: #fff;
            box-shadow: 0 0 10px #ccc;
            margin-bottom: 20px;
            padding: 12px;
            margin-top: 16px;

            .blog-text {
                span {
                    text-align: left;
                    margin-top: 8px;
                    margin-bottom: 4px;
                    font-size: 1.3rem;
                }

                h3 {
                    font-size: 1.6rem;
                    margin-top: -5px;
                    margin-bottom: 8px;
                    line-height: 1.6;
                }
                p {
                    font-size: 1.2rem;
                }
            }
        }
    }

    span {
        display: block;
        text-align: right;
        margin-right: 40px;
        transition: all 1s;

        @include tb {
            &:hover {
                opacity: 0.5;
            }
        }

        @include tb {
            margin-right: 0px;
        }

        a {
            padding: 24px 12px;
        }
    }
}

