@charset "UTF-8";

// 変数
@import "../setting/config";

// レスポンシブ
@import "../mixin/responsive";



.page-id-93 {
    .movie-contain {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #fff;

        @include tb {
            padding-top: 120px;
            padding-bottom: 80px;
        }

        .container {
            @include tb {
                display: flex;
                justify-content: space-between;
            }
        }

        h2 {
            font-size: $title-sp;
            padding-bottom: 12px;
        }

        .movie-list {
            @include tb {
                width: 720px;
                margin-left: 20px;
            }
        }

        ul {
            @include tb {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            li {
                @include tb {
                    // width: 48%;
                }
            }
        }

        .movie-box {
            display: block;
            margin-bottom: 40px;
            width: 100%;

            @include tb {
                margin-bottom: 32px;
                width: 48%;
            }

            //再生ボタン---------------------------//
            .play-wrapper {
                padding-top: 80px;
            }

            .movie-title {
                margin-left: 26px;
                // padding-top: 56px;
                color: #fff;
                text-align: center;

                @include tb {
                    margin-left: 3%;
                    padding-top: 0;
                    // color: #fff;
                    // text-align: center;
                }
            }
        }

        //--------------------------------------//

        .movie-content {
            margin: 0 calc(50% - 50vw);
            height: 240px;

            @include tb {
                margin: 0;
            }
        }
    }

    small {
        padding-top: 0;
        height: 0;
    }
}

.term-box {
    .term-list-sp {
        position: relative;
        margin-bottom: 40px;

        &::after {
            content: "";
            position: absolute;
            right: 24px;
            top: 20px;
            width: 10px;
            height: 10px;
            border-top: 2px solid #ccc;
            border-left: 2px solid #ccc;
            transform: translateY(-50%) rotate(-135deg);
            font-size: 20px;
            pointer-events: none;
        }

        select {
            position: relative;
            width: 100%;
            padding: 16px 20px;
            border: 1px solid #222;
            appearance: none;
            outline: none;
        }

        @include tb {
            display: none;
        }
    }

    .term-list-pc {
        display: none;

        @include tb {
            display: block;
            margin-top: -160px;
            // position: relative;
            right: 8vw;
            // width: 200px;
            position: absolute;
            // top: 58vh;
            // flex-direction: column;
        }

        li {
            margin-right: 24px;

            a {
                display: inline-block;
                margin-bottom: 8px;
                padding: 6px 2px;

                @include tb {
                    padding: 0;
                }

            }

            .term-current {
                color: $btn-color;
                border-bottom: 1px solid;
                // padding-bottom: 4px;

            }




        }


    }
}

// select {
//     position: relative;
//     padding: 10px;
//     width: 100%;
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
// }

// .select-wrap {
//     position: relative;
//     width: 100px;
// }

// .select-wrap:after {
//     content: "";
//     position: absolute;
//     right: 10px;
//     top: 15px;
//     width: 10px;
//     height: 10px;
//     border-top: 2px solid #ccc;
//     border-left: 2px solid #ccc;
//     transform: translateY(-50%) rotate(-135deg);
//     font-size: 20px;
//     pointer-events: none;
// }