@charset "UTF-8";

// 変数
@import "../setting/config";

// レスポンシブ
@import "../mixin/responsive";


.page-id-93 {
    .movie-contain {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #fff;

        @include tb {
            padding-top: 120px;
            padding-bottom: 80px;
        }

        .container {
            @include tb {
                display: flex;
                justify-content: space-between;
            }
        }

        h2 {
            font-size: $title-sp;
            padding-bottom: 12px;
        }

        .movie-list {
            @include tb {
                width: 720px;
                margin-left: 20px;
            }
        }

        ul {
            @include tb {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            li {
                @include tb {
                    // width: 48%;
                }
            }
        }

        .movie-box {
            display: block;
            margin-bottom: 40px;
            width: 100%;

            @include tb {
                margin-bottom: 32px;
                width: 48%;
            }

            //再生ボタン---------------------------//
            .play-wrapper {
                padding-top: 80px;

                @include sb {
                    padding-top: 160px;
                }

                @include tb {
                    padding-top: 80px;
                }
            }

            .movie-title {
                color: #fff;
                text-align: center;
                width: 90%;
                margin: 0 auto;

                @include tb {
                    padding-top: 0;
                }
            }
        }

        //--------------------------------------//

        .movie-content {
            margin: 0 calc(50% - 50vw);
            height: 240px;

            @include sb {
                height: 440px;
            }

            @include tb {
                margin: 0;
                height: 240px;
            }
        }
    }

    small {
        padding-top: 0;
        height: 0;
    }
}

.term-box {
    .term-list-sp {
        position: relative;
        margin-bottom: 40px;

        &::after {
            content: "";
            position: absolute;
            right: 24px;
            top: 24px;
            width: 10px;
            height: 10px;
            border-top: 2px solid #ccc;
            border-left: 2px solid #ccc;
            transform: translateY(-50%) rotate(-135deg);
            font-size: 20px;
            pointer-events: none;
        }

        select {
            position: relative;
            width: 100%;
            padding: 16px 20px;
            border: 1px solid #222;
            appearance: none;
            outline: none;
            background: #fff;
            color: #444;
        }

        @include tb {
            display: none;
        }
    }

    .term-list-pc {
        display: none;

        @include tb {
            display: block;
            margin-top: -160px;
            right: 8vw;
            position: absolute;
        }

        li {
            margin-right: 24px;

            a {
                display: inline-block;
                margin-bottom: 8px;
                padding: 6px 2px;

                @include tb {
                    padding: 0;
                }

            }

            .term-current {
                color: $btn-color;
                border-bottom: 1px solid;
            }
        }
    }
}