@charset "UTF-8";

// 変数
@import "../setting/config";

// レスポンシブ
@import "../mixin/responsive";


.page-id-206 {
    .contact-contain {

        @include tb {
            padding-bottom: 80px;
        }

        .container {
            padding-top: 40px;
        }
        //サファリ対応
        _:lang(x)+_:-webkit-full-screen-document,.container {
            padding-top: 24px;
        }

        h2 {
            font-size: $title-sp;
            // padding-bottom: 20px;

            @include tb {
                font-size: 4rem;
            }
        }

            //サファリ対応
            _:lang(x)+_:-webkit-full-screen-document,.wp-block-contact-form-7-contact-form-selector {
                margin-top: -12px;
            }


        .contact-form {
            table {
                width: 100%;
            }

            th,
            td {
                display: block;
            }

            th {
                text-align: left;
                font-size: 1.6rem;

                &::after {
                    content: '*';
                    display: inline-block;
                    color: red;
                }
            }

            input,
            select,
            textarea {
                border: 1px solid #D6D6D6;
                padding: 12px 8px;
                border-radius: 3px;
                margin-bottom: 40px;
                outline: 0;
            }

            input[type="text"] {
                width: 100%;

                @include tb {
                    width: 50%;
                }
            }

            input[type="text"]::placeholder,
            input[type="email"]::placeholder {
                color: rgb(216, 216, 216);
            }

            input[name="your-email"],
            textarea {
                width: 100%;
                resize: none;
            }

            select[name="your-subject"] {
                width: 100%;

                @include tb {
                    width: 32%;
                }
            }
            
            input[type="submit"] {
                @include btnBase;
                -webkit-appearance: none;
                // cursor: pointer;

                @include tb {
                    width: 40%;
                }
            }

            .submit {
                text-align: center;
            }
        }
    }
}

//エラー文
.wpcf7-not-valid-tip {
    margin-top: -36px;
    margin-bottom: 24px;
}