@charset "UTF-8";

// 変数
@import "../setting/config";

// レスポンシブ
@import "../mixin/responsive";


input,
select {
    -webkit-appearance: none;
    appearance: none;
}

.page-id-241 {
    .reservation-contain {
        .container {
            padding-top: 40px;
            overflow: hidden;
        }

        _:lang(x)+_:-webkit-full-screen-document,
        .container {
            padding-top: 24px;
        }

        h2 {
            font-size: $title-sp;
            // padding-bottom: 20px;

            @include tb {
                font-size: 4rem;
            }
        }

        .live-date {
            @include tb {
                font-size: 1.6rem;
            }
        }

        h3 {
            font-size: 1.6rem;

            @include tb {
                font-size: 2.4rem;
            }
        }

        .contact-form {
            table {
                width: 100%;
            }

            th,
            td {
                display: block;
            }

            th {
                text-align: left;
                font-size: 1.6rem;

                &::after {
                    content: '*';
                    display: inline-block;
                    color: red;
                }
            }

            tr:last-of-type,
            tr:nth-child(1),
            tr:nth-child(2) {
                th::after {
                    display: none;
                }
            }

            input,
            select,
            textarea {
                border: 1px solid #D6D6D6;
                padding: 12px 8px;
                border-radius: 3px;
                margin-bottom: 40px;
                outline: 0;
            }

            input[type="text"] {
                width: 100%;

                @include tb {
                    width: 50%;
                }
            }

            input[type="text"]::placeholder,
            input[type="email"]::placeholder {
                color: rgb(216, 216, 216);
            }

            input[name="your-email"],
            textarea {
                width: 100%;
                resize: none;
            }

            select[name="your-ticket"] {
                // padding-right: 32px;
                background: #fff;
                color: #444;
                padding: 12px 28px 12px 12px;
            }

            tr:nth-child(6)::before {
                content: "";
                position: absolute;
                width: 7px;
                height: 7px;
                border-top: 2px solid #ccc;
                border-left: 2px solid #ccc;
                -webkit-transform: translateY(-50%) rotate(-135deg);
                transform: translateY(-50%) rotate(-135deg);
                font-size: 20px;
                pointer-events: none;
                margin-top: 50px;
                margin-left: 32px;
                z-index: 100;
            }

            //サファリ対応
            _:lang(x)+_:-webkit-full-screen-document,
            tr:nth-child(6)::before {
                margin-top: 54px;
            }

            select[name="your-subject"] {
                width: 100%;

                @include tb {
                    width: 32%;
                }
            }

            input[type="submit"] {
                @include btnBase;
                -webkit-appearance: none;

                @include tb {
                    width: 40%;
                }
            }

            .submit {
                text-align: center;
            }
        }
    }

    small {
        padding-top: 0;
        height: 0;
    }
}

//エラー文
.wpcf7-not-valid-tip {
    margin-top: -36px;
    margin-bottom: 24px;
}

//空行、空スペースの非表示
form {

    p,
    br {
        display: none;
    }

    white-space: nowrap;

    .submit {
        display: block;
    }
}

/* 送信ローダーの位置調整 */
.wpcf7 .wpcf7-spinner {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.wpcf7-submit-block {
    position: relative;
    margin-bottom: 2em; /* 要調整(*1) */
}

.wpcf7-submit-block input[type='submit'] {
    min-width: 200px;
}

/* 送信ローダークリック時 */
.wpcf7-submit.wpcf7-active {
    pointer-events: none;
    opacity: .5;
}

/* 本来の送信メッセージは非表示にする */
.wpcf7 form.sent .wpcf7-response-output {
    display: none;
}

/* モーダルウィンドウを作成する */
#wpcf7-modal {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

#wpcf7-modal__bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: -1;
}

#wpcf7-modal__wrap {
    background-color: #ffffff;
    border-radius: 10px;
    width: 90%;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;

    a {
        text-decoration: underline;
        color: #8DACC5;
    }
}