@charset "UTF-8";

// 変数
@import "../setting/config";

// レスポンシブ
@import "../mixin/responsive";

.page-id-206 {
    .contact-contain {
        .container {
            padding-top: 40px;
            overflow: hidden;
        }

        //サファリ対応
        _:lang(x)+_:-webkit-full-screen-document,
        .container {
            padding-top: 24px;
        }

        h2 {
            font-size: $title-sp;

            @include tb {
                font-size: 3.2rem;
            }
        }

        //サファリ対応
        _:lang(x)+_:-webkit-full-screen-document,
        .wp-block-contact-form-7-contact-form-selector {
            margin-top: -12px;
        }

        .contact-form {
            table {
                width: 100%;
            }

            th,
            td {
                display: block;
            }

            th {
                text-align: left;
                font-size: 1.6rem;

                &::after {
                    content: '*';
                    display: inline-block;
                    color: red;
                }
            }

            input,
            select,
            textarea {
                border: 1px solid #D6D6D6;
                padding: 12px 8px;
                border-radius: 3px;
                margin-bottom: 40px;
                outline: 0;
            }

            input[type="text"] {
                width: 100%;

                @include tb {
                    width: 50%;
                }
            }

            input[type="text"]::placeholder,
            input[type="email"]::placeholder {
                color: rgb(216, 216, 216);
            }

            input[name="your-email"],
            textarea {
                width: 100%;
                resize: none;
            }

            select[name="your-subject"] {
                width: 100%;
                background: #fff;
                color: #444;

                @include tb {
                    width: 320px;
                }
            }

            input[type="submit"] {
                @include btnBase;
                -webkit-appearance: none;
                // cursor: pointer;

                //サファリ対応
                _:lang(x)+_:-webkit-full-screen-document,
                input[type="submit"] {
                    margin-bottom: 0;
                }

                @include tb {
                    width: 40%;
                }
            }

            .submit {
                text-align: center;
            }
        }
    }

    //ドロップダウン矢印
    tr:nth-child(4)::after {
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        border-top: 2px solid #ccc;
        border-left: 2px solid #ccc;
        -webkit-transform: translateY(-50%) rotate(-135deg);
        transform: translateY(-50%) rotate(-135deg);
        font-size: 20px;
        pointer-events: none;
        margin-top: -64px;
        margin-left: 84%;
        z-index: 100;
    
        @include tb {
            margin-left: 300px;
        }
    }
}

//エラー文
.wpcf7-not-valid-tip {
    margin-top: -36px;
    margin-bottom: 24px;
}

// .wpcf7-response-output {
//     display: none;
// }