@charset "UTF-8";

// 変数
@import "../setting/config";

// レスポンシブ
@import "../mixin/responsive";


.page-id-80 {

    line-height: 1.6;
    .blog-contain {
        padding-top: 40px;
        padding-bottom: 40px;
        // background-color: #fff;

        // min-width: 300px;

        @include tb {
            display: flex;
            justify-content: space-between;
            padding-top: 120px;
            padding-bottom: 80px;
        }

        .container {
            @include tb {
                display: flex;
                justify-content: space-between;
            }
        }

        h2 {
            font-size: $title-sp;
            padding-bottom: 12px;
        }

        ul {
            // border-top: dashed 1px #ccc;

            @include tb {
                width: 75%;
            }

            li {
                padding: 20px 0;
                border-bottom: dashed 1px #ccc;

                .blog-date {
                    // font-size: 1.8rem;
                    // font-weight: bold;
                    margin-bottom: 8px;
                }

                .blog-content {
                    display: flex;

                    .blog-image {
                        // min-width: 120px;
                        padding-top: 80px;
                        flex-basis: 26vw;
                        height: 16vw;

                        @include tb {
                            width: 230px;
                            padding-top: 120px;
                            height: 0;
                        }
                    }

                    .blog-text {
                        margin-top: -4px;
                        flex-basis: 60vw;
                        margin-left: 16px;

                        @include tb {
                            margin-left: 32px;
                        }

                        h3 {
                            font-size: 1.6rem;
                            margin-bottom: 8px;

                            @include sb {
                                font-size: 2.2rem;
                            }
                            
                            @include tb {
                                font-size: 1.8rem;
                            }
                        }

                        p {
                            @include sb {
                                font-size: 1.6rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
