@charset "UTF-8";

/* Loading背景画面設定　*/
#loading {
    /*fixedで全面に固定*/
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    transition: all 1s;
    // background: #fff;
    background: #b4d2e5;
    text-align: center;
    opacity: 1;
    visibility: visible;
}

#loading.is-active {
    opacity: 0;
    visibility: hidden;
}



/* Loading画像中央配置　*/
#loading-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 1s;
    z-index: 999;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
}

/* Loading アイコンの大きさ設定　*/
#loading-animation img {
    width: 260px;
}

#loading-animation.is-active {
    opacity: 1;
    visibility: visible;
}



/* fadeUpをするアイコンの動き */
.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    width: 240px;
}

@keyframes fadeUpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* fadeIn */
/*下から上にフェードイン*/
.down-to-top {
    opacity: 0;
    transform: translateY(40px);
    transition: all 1s;
}

.down-to-top.scrollin {
    opacity: 1;
    transform: translateY(0);
}

