.footer {
    text-align: center;
    font-size: 1.2rem;
    height: 80px;
    line-height: 80px;
    color: #444;

    @include tb {
        padding-top: 24px;
    }

    .sns-navi {
        display: flex;
        padding-left: 28px;
        position: absolute;

        @include tb {
            position: fixed;
            bottom: 0px;
            right: 0;
            background: #fff;
            // height: 120px;
        }

        .fa-brands {
            font-size: 2rem;
            margin-right: 20px;
            transition: all 0.2s;

            @include tb {
                &:hover {
                    color: $btn-color;
                }
            }
        }
    }

    small {
        display: block;
        background: #fff;
        padding-top: 80px;
        height: 180px;

        @include tb {
            padding-left: 24px;
        }
    }

    @include tb {
        text-align: left;
        // margin-left: 24px;
        background-color: rgba(255, 255, 255, 0);
    }
}

.single-post {
    .sns-navi.share {
        margin-top: -80px;
        padding-left: 20px;

        @include tb {
            position: static;
            padding-left: 0;
        }

        span {
            margin-right: 20px;
            font-size: 1.6rem;
        }
    }
}

.single-blog {
    small {
        padding-top: 0;
        height: 0;

    }
}

//コンタクトページ
//ブログページ
.page-id-206,
.page-id-80 {
    .footer small {
        padding-top: 0;
        height: 0;
    }

    //サファリ対応
    _:lang(x)+_:-webkit-full-screen-document,
    .footer small {
        padding-top: 0;
        height: 0;
    }
}

//ブログページ　ページネーション余白
.page-id-80 {
    .current {
        padding: 4px 0 0 4px;
    }
}

